*.log
*.o
.deps/
.dirstamp
.version
Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/test-driver
config.h
config.h.in
config.status
configure
configure~
src/wwwd
stamp-h1
tests/*.trs
tests/check-wwwd
wwwd-*.tar.gz
